{% extends "base.html" %}
{% block title %}Manga {{ name }} - chapter {{ chapter }}{% endblock %}
{% block content %}
<h2 id="manga-title">Manga {{ name }} - chapter {{ chapter }}</h2>
<div id="content">
{# nothing to see here! #}
</div>
<div id="buttons">
	<a href="/{{ name }}">Back to manga page</a>
{% if ajax %}
	{% if prev_chap %}
	<button id="prev" onclick="prev_chap()">Previous chapter</button>
	{% endif %}
	{% if next_chap %}
	<button id="next" onclick="next_chap()">Next chapter</button>
	{% endif %}
<script>
let current_chapter = {{chapter|safe}};
function build_new_url(chap) {
	const parts = document.location.pathname.split("/");
	if (document.location.pathname.endsWith("/")) {
		parts.pop();
	}
	parts[parts.length - 1] = chap;
	return parts.join("/") + document.location.search;
}
function update_titles(chap) {
	let parts = document.title.split(" - ");
	parts[parts.length - 1] = `chapter ${chap}`;
	let title = parts.join(" - ");
	document.title = title;
	parts = document.getElementById("manga-title").innerText.split(" - ");
	parts[parts.length - 1] = `chapter ${chap}`;
	title = parts.join(" - ");
	document.getElementById("manga-title").innerText = title;
}
function prev_chap() {
	current_chapter -= 1;
	window.history.pushState("", "", build_new_url(current_chapter));
	if (current_chapter <= 1) {
		document.getElementById("prev").remove();
	} else if (document.getElementById("next") === null) {
		document.getElementById("buttons").innerHTML += `<button id="next" onclick="next_chap()">Next chapter</button>`;
	}
	update_titles(current_chapter);
}
function next_chap() {
	current_chapter += 1;
	window.history.pushState("", "", build_new_url(current_chapter));
	if (current_chapter > 3) {
		document.getElementById("next").remove();
	} else if (document.getElementById("prev") === null) {
		document.getElementById("buttons").innerHTML += `<button id="prev" onclick="prev_chap()">Previous chapter</button>`;
	}
	update_titles(current_chapter);
}
</script>
{% else %}
	{# Pure HTML part #}
	{% if prev_chap %}
	<a id="prev" href="/{{name}}/{{prev_chap}}">Previous chapter</a>
	{% endif %}
	{% if next_chap %}
	<a id="next" href="/{{name}}/{{next_chap}}">Next chapter</a>
	{% endif %}
{% endif %}
</div>
{% endblock %}
